.material-full-width {
  width: 100%;
}

.btn-registrar {
  padding: 10px;
  font-size: 20px;
  margin-top: 15px;
}

.table-wrapper {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th,
td {
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,.2);
  padding: 0.3em;
}

th {
  background: #eee;
}
